@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;600&display=swap");
@import "./header.module.css";
@import "./buytoken.module.css";
@import "./transfertoken.module.css";
@import "./approvekyc.module.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Raleway", sans-serif;
  background-color: #f6f6f6;
}
.main__warning-msg {
  margin: 5rem 3rem;
  font-weight: 600;
  font-size: 2rem;
  color: #b22222;
  text-decoration: underline;
}
